@tailwind base;
@tailwind components;
@tailwind utilities;

.Vue-Toastification__toast-body{
	@apply text-sm !important;
}
@media (min-width: 768px) {
	#wpcontent{
		@apply pl-0;
	}
}
#siteurl, #apikey{
	
	border: 1px solid #e2e8f0 !important;
	padding-top: .50rem !important;
	padding-bottom: .50rem !important;
}
