@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
/* fira-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../dist/fonts/fira-sans-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../dist/fonts/fira-sans-v17-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

#wpbody{
	font-family: 'Fira Sans', inherit;
} 


.Vue-Toastification__toast-body{
	@apply text-sm !important;
}
@media (min-width: 768px) {
	#wpcontent{
		@apply pl-0;
	}
}
#siteurl, #apikey{
	
	border: 1px solid #e2e8f0 !important;
	padding-top: .50rem !important;
	padding-bottom: .50rem !important;
}
