@tailwind base;
@tailwind components;
@tailwind utilities;
/* poppins-regular - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  
  /* poppins-500 - latin */
  @font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  
  /* poppins-600 - latin */
  @font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  
  /* poppins-700 - latin */
  @font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }

#avife-root, .awraq-toast{
	font-family: 'Poppins', sans-serif !important;
}
.Vue-Toastification__toast-body{
	@apply text-sm !important;
}
@media (min-width: 768px) {
	#wpcontent{
		@apply pl-0;
	}
}
#siteurl, #apikey{
	
	border: 1px solid #e2e8f0 !important;
	padding-top: .50rem !important;
	padding-bottom: .50rem !important;
}
